* {
    box-sizing: border-box;
}

.col-1 {
    flex: 0 0 auto;
    width: 8.3333333333%
}

.col-2 {
    flex: 0 0 auto;
    width: 16.6666666667%
}

.col-3 {
    flex: 0 0 auto;
    width: 25%
}

.col-4 {
    flex: 0 0 auto;
    width: 33.3333333333%
}

.col-5 {
    flex: 0 0 auto;
    width: 41.6666666667%
}

.col-6 {
    flex: 0 0 auto;
    width: 50%
}

.col-7 {
    flex: 0 0 auto;
    width: 58.3333333333%
}

.col-8 {
    flex: 0 0 auto;
    width: 66.6666666667%
}

.col-9 {
    flex: 0 0 auto;
    width: 75%
}

.col-10 {
    flex: 0 0 auto;
    width: 83.3333333333%
}

.col-11 {
    flex: 0 0 auto;
    width: 91.6666666667%
}

.col-12 {
    flex: 0 0 auto;
    width: 100%
}

.offset-1 {
    margin-left: 8.3333333333%
}

.offset-2 {
    margin-left: 16.6666666667%
}

.offset-3 {
    margin-left: 25%
}

.offset-4 {
    margin-left: 33.3333333333%
}

.offset-5 {
    margin-left: 41.6666666667%
}

.offset-6 {
    margin-left: 50%
}

.offset-7 {
    margin-left: 58.3333333333%
}

.offset-8 {
    margin-left: 66.6666666667%
}

.offset-9 {
    margin-left: 75%
}

.offset-10 {
    margin-left: 83.3333333333%
}

.offset-11 {
    margin-left: 91.6666666667%
}

.container {
    display: flex;
    flex-direction: row;
}

body {
    background-color: #146C94;
}

h1,
h2,
form {
    margin-top: 0%;
    margin-bottom: 0%;
}

h1,
h2 {
    text-align: center;
    color: white;
}

form,
form p,
header {
    display: flex;
}

header {
    flex-direction: column;
}

form {
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F6F1F1;
    padding-bottom: 1%;
    padding-right: 1%;
    padding-left: 1%;
    margin-top: 1em;
}

form,
form p,
form div {
    display: flex;
    flex-direction: row;
}

.digimon-list,
.stage-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: auto;
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
}

.digimon-list,
.stage-list,
.subtitle {
    margin-top: 1em;
}

.digimon-list:has(.digimon),
.stage-list:has(.stage) {
    background-color: #19A7CE;
    border-radius: 8px;
}

.digimon-list .digimon,
.stage-list .stage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F6F1F1;
    padding: 1em;
    align-items: center;
    justify-content: center;
}

.digimon p,
.stage p {
    display: flex;
    flex-direction: row;
}

.digimon .name,
.stage .name {
    text-align: center;
}

.digimon:not(:first-child),
.stage:not(:first-child) {
    margin-left: 8.3333333333%;
}

form,
.digimon-list .digimon,
.stage-list .stage {
    border-radius: 8px;
}